python-json-logger@https://github.com/nhairs/python-json-logger/releases/download/v3.0.0/python_json_logger-3.0.0-py3-none-any.whl
adaptix
dishka
asynch
uvicorn
fastapi
faststream
aio-pika
aiohttp
# e.g. 3.0.0 wheel